# Auto detect text files and perform LF normalization
* text=auto

# The above will handle most files NOT defined below

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Always use LF for these files
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

# Drupal-specific files
*.module text eol=lf
*.inc text eol=lf
*.install text eol=lf
*.test text eol=lf
*.php text eol=lf
*.theme text eol=lf

# Always use CRLF for these files
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files (ensure they are not modified)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary